<%--
  Created by IntelliJ IDEA.
  User: manolo
  Date: 3/23/13
  Time: 4:08 PM
  To change this template use File | Settings | File Templates.
--%>

<%@ page contentType="text/html;charset=UTF-8" %>
<html>
<head>
    <meta name="layout" content="main"/>
    <title></title>
</head>
<body>
    <g:render template="../regresar"/>
    <g:img dir="images"  file="Ventas.png"/>
</body>
</html>